<% if @choice_games[0] %>
  <div class="container-rooms-join-titre-preference">
    <h1>A quoi veux-tu jouer ?</h1>
  </div>
<% end %>
  <br>
<div class="container">
<div class="<%= !@choice_games[1] ? 'container_cards02' : 'container_cards' %>">
  <% @choice_games.each do |choice_game| %>
    <div class="col-4">
      <div class="card">
        <img class="card_img_game"
          src="<%= cl_image_path choice_game.game.photo.key, height: 200, width: 292, crop: :scale %>">
        <div class="card_title"><%= choice_game.game.name %></div>
          <div class="card_description"><%= choice_game.game.description%>
          </div>
        <div class="card_vote"><%= link_to image_tag("heart1.png"), room_choice_game_path(id: choice_game.id, :rank => 3), :method => :patch %>
        <%= link_to image_tag("heart2.png"), room_choice_game_path(id: choice_game.id, :rank => 1), :method => :patch %>
        <%= link_to image_tag("skull.png"), room_choice_game_path(id: choice_game.id, :rank => -100), :method => :patch %></div>
      </div>
    </div>
  <% end %>
</div>
</div>
<br>

<% if @choice_games[0] %>
  <div class="container container-barre-progression">
    <% @choice_games_with_votes.each do |card| %>
      <% if card.update_by[0] == current_user.name || card.update_by[1] == current_user.name || card.update_by[2] == current_user.name || card.update_by[3] == current_user.name || card.update_by[4] == current_user.name || card.update_by[5] == current_user.name || card.update_by[6] == current_user.name || card.update_by[7] == current_user.name || card.update_by[8] == current_user.name %>
      <div class="container-case-progression"></div>
      <% end %>
    <% end %>
  </div>
  <% end %>


<% unless @choice_games[0] %>
  <h1 class = "attente" style="font-size:80px">EN ATTENTE DES AUTRES JOUEURS ...</h1>
<br>
<br>
<div class="container-loading">
<h4 class="picto2"><div class="game">C</div></h4><h4 class="picto2"><div class="pc">G</div></h4><h4 class="picto2"><div class="joy">z</div></h4><h4 class="picto2"><div class="fantome">Z</div></h4>
<br>
<!-- <div class="pacman"></div>
<div class="dot"></div> -->
</div>
<br>
<br>
<br>
<h1 class = "attente" style="font-size:40px">Joueurs ayant fini la selection :</h1>
<br>
<br>
<div class="container">
  <div class="container-joueurs-pret">
    <% @room.room_users.each do |room_user| %>
      <% if @voted[room_user.user.name] == @choice_games_with_votes.length %>
        <div id="<%= room_user.user.name %>" class="container-player-on">
          <i class="far fa-lightbulb"></i><div class="picto3"><%= room_user.user.name %></div>
        </div>
      <% else %>
        <div id="<%= room_user.user.name %>" class="container-player-off">
          <i class="far fa-lightbulb"></i><div class="picto3"><%= room_user.user.name %></div>
        </div>
      <% end %>
    <% end %>
  </div>
<!--  <div class="alum"></div> -->
</div>
<!-- <h1 class = "attente" style="font-size:40px">Resume de votre selection :</h1>
<div class="container">
    <% @choice_games_with_votes.each do |choice_game| %>
    <div id="results" data-room-id="<%= choice_game.room.id %>">
<<<<<<< HEAD
      <div class="card_vote_2" >
=======
      <div class="card_vote_3" >
        <!-- <p id="result-<%= choice_game.game.id %>"><%= choice_game.rank %></p> -->
>>>>>>> b9e038abf65152e50f69b8172fbe7cb2a9beb55a
      </div>

      <div style="width: 500px; heigth:20px; position: relative">
        <% width_rank = ( choice_game.rank.to_f / (3 * @room.player_number) ) * 100 %>
        <div id="result-<%= choice_game.game.id %>" class="rank" style="width: <%= [width_rank, 0].max %>%">lol</div>
      </div>
    <% end %>
  </div>
</div> -->
<% end %>


