<% if @choice_categories[0] %>
  <div class="container-rooms-join-titre-preference">
    <h1>Quelles sont tes preferences ?</h1>
  </div>
  <div class="container container-barre-progression">
    <% @choice_categories_with_votes.each do |card| %>
      <% if card.update_by[0] == current_user.name || card.update_by[1] == current_user.name || card.update_by[2] == current_user.name || card.update_by[3] == current_user.name || card.update_by[4] == current_user.name || card.update_by[5] == current_user.name || card.update_by[6] == current_user.name || card.update_by[7] == current_user.name || card.update_by[8] == current_user.name %>
      <div class="container-case-progression"></div>
      <% end %>
    <% end %>
  </div>
<% end %>
  <br>
<div class="container">
<div class="<%= !@choice_categories[1] ? 'container_cards02' : 'container_cards' %>">
  <% @choice_categories.each do |choice_category| %>
    <div class="col-4">
      <div class="card">
        <img class="card_img"
          src="<%= cl_image_path choice_category.category.photo.key, height: 300, width: 400, crop: :fill %>">
        <div class="card_title"><%= choice_category.category.name %></div>
          <div class="card_description"><%= choice_category.category.description%>
          </div>
        <div class="card_vote"><%= link_to image_tag("heart1.png"), room_choice_category_path(id: choice_category.id, :rank => 3), :method => :patch %>
        <%= link_to image_tag("heart2.png"), room_choice_category_path(id: choice_category.id, :rank => 1), :method => :patch %>
        <%= link_to image_tag("skull.png"), room_choice_category_path(id: choice_category.id, :rank => -100), :method => :patch %></div>
      </div>
    </div>
  <% end %>
</div>
</div>
<br>
<br>
<br>
<br>
<br>

<div class="container">
<% unless @choice_categories[0] %>
<div class="container-joueurs-pret"><%=current_user.name%></div>
</div>
  <h1 class = "attente" style="font-size:80px">EN ATTENTE DES AUTRES JOUEURS ...</h1>

<div class="container-loading">
<h4 class="picto2"><div class="game">C</div></h4><h4 class="picto2"><div class="pc">G</div></h4><h4 class="picto2"><div class="joy">Z</div></h4><h4 class="picto2"><div class="fantome">.</div></h4>
<!-- <div class="pacman"></div>
<div class="dot"></div> -->
</div>
<br>
<br>
<h1 class = "attente" style="font-size:40px">Resume de votre selection :</h1>
<div class="container">
    <% @choice_categories_with_votes.each do |choice_cat| %>
    <div id="results" data-room-id="<%= choice_cat.room.id %>">
      <div class="card_vote_2" >
        <i class="author">
          <span><%= choice_cat.category.name %> :</span>
        </i>
        <p id="result-<%= choice_cat.category.id %>"><%= choice_cat.rank %></p>
      </div>
    <% end %>
  </div>
</div>
<% end %>
