<% if @choice_categories[0] %>
  <div class="container-rooms-join-titre">
    <h1>Quelles sont tes preferences ?</h1>
  </div>
<% end %>
  <br>
<div class="container">
<div class="container_cards">
  <% @choice_categories.each do |choice_category| %>
    <div class="col-4">
      <div class="card">
        <img class="card_img"
          src="<%= cl_image_path choice_category.category.photo.key, height: 300, width: 400, crop: :fill %>">
        <div class="card_title"><%= choice_category.category.name %></div>
          <div class="card_description">
            <p>Lorem Ipsum copy in various charsets and languages for layouts. ... by this text-generator is
              suitable for greeking, typesetting, layouts for websites, and ... Using dummy content or fake
            </p>
          </div>
        <div class="card_vote"><%= link_to image_tag("heart1.png"), room_choice_category_path(id: choice_category.id, :rank => 3), :method => :patch%>
        <%= link_to image_tag("heart2.png"), room_choice_category_path(id: choice_category.id, :rank => 1), :method => :patch%>
        <%= link_to image_tag("skull.png"), room_choice_category_path(id: choice_category.id, :rank => -100), :method => :patch %></div>
      </div>
    </div>
  <% end %>
</div>
</div>
<br>
<br>
<br>
<br>
<br>

<div class="container">
<% unless @choice_categories[0] %>
  <h1 style="font-size:80px">PATIENTEZ</h1>
  <% @choice_categories_with_votes.each do |choice_cat| %>
  <div class="card_vote">
  <p><%= choice_cat.category.name %> :
  <% if choice_cat.rank == 3 %>
  <%= image_tag("heart1.png") %>
  <% end %>
  <% if choice_cat.rank == 1 %>
  <%= image_tag("heart2.png") %>
  <% end %>
  <% if choice_cat.rank == -100 %>
  <%= image_tag("skull.png") %> </p>
  <% end %>
  </div>
  <% end %>
<% end %>
</div>
