  <div class="container-result-title">
    <h1>Resultat</h1>
  </div>

<div class="w3-container">
  <% @choice_categories.each do |category| %>
<div class="w3-light-grey">
  <% unless category.rank < 0 %>
  <div class="w3-container w3-blue w3-center" style="width:<%= category.rank * 10 %>%"><%= category.rank * 10 %>%</div>
  <% end %>
  <% if category.rank < 0 %>
  <div class="w3-container w3-blue w3-center" style="width:5%">0%</div>
  <% end %>
</div>
  <% end %>
</div>


  <div class="container-result-title">
    <h1>Resultat</h1>
  </div>

<div class="container">
  <% @choice_categories.each do |category| %>
      <div class="container_results">
        <% if category.rank == 1  %>
        <div class="container-case-progression-result"><%= category.category.name %> = <%= category.rank %></div>
         <% elsif category.rank > 3  %>
         <div class="container-case-progression-result"><%= category.category.name %> = <%= category.rank %></div>
         <% else category.rank >= -100  %>
         <%= category.category.name %> = <%= category.rank %>
        <% end %>
        <% end %>
     </div>
</div>



