<div class="container-screen4-result">
  <h3>Et le resultat est ...</h3>
</div>
<div class="container-result">
  <div class="card-result-2">
    <div class="image-medaille-2"></div>
      <div class="loading-second"><h1 class = "attente" style="font-size:40px">Calcul en cours...</h1></div>
            <img class="card_img_game"
        src="<%= cl_image_path @second_game.game.photo.key, height: 200, width: 292, crop: :scale %>">
      <div class="card_title"><%= @second_game.game.name %></div>
      <div class="card_description"><%= @second_game.game.description%></div>
  </div>
  <div class="card-result-1">
<div class="image-medaille-1"></div>
      <div class="loading-first"><h1 class = "attente" style="font-size:40px">Calcul en cours...</h1></div>
    <img class="card_img_game"
        src="<%= cl_image_path @first_game.game.photo.key, height: 200, width: 292, crop: :scale %>">
      <div class="card_title"><%= @first_game.game.name %></div>
      <div class="card_description"><%= @first_game.game.description%></div>
  </div>

  <div class="card-result-3">
    <div class="image-medaille-3"></div>
      <div class="loading-third"><h1 class = "attente" style="font-size:40px">Calcul en cours...</h1></div>
      <img class="card_img_game"
        src="<%= cl_image_path @third_game.game.photo.key, height: 200, width: 292, crop: :scale %>">
      <div class="card_title"><%= @third_game.game.name %></div>
      <div class="card_description"><%= @third_game.game.description%></div>
  </div>
</div>
<br>
<br>
<!-- <div class="image-ampoule"></div>
<div class="image-puzzle"></div>
<div class="image-among"></div>
<div class="image-blabla"></div> -->
<!-- <div class="image-manette"></div> -->
<!-- <div class="image-musique"></div> -->
