<div class="container-rooms-new-titre">
  <h3>Room <%= @room.id %></h3>
</div>
<div class="container">
<div class="container-description-room">

<p class="text-center">Nom de l'hôte : <span class="picto3"><%= @room.room_users.first.user.name %><br></span>

 Préférence de prix : <%= @room.price_filter %><br>
 Nombre de joueur(s) : <%= @room.player_number %>
<div class="perso text-center" data-room-id="<%= @room.id %>">
  <p id="name" style="margin-bottom: 0px">
      <% @room.player_number.times do |i| %>
        <div class="<%= ( i + 1 <= @room.room_users.count ) ? 'bonhomme-vert' : 'bonhomme-gris' %>"></div>
        <div class="username">
          <% if ( i + 1 <= @room.room_users.count ) %>
            <%= @room.room_users[i].user.name %>
          <% end %>
        </div>
      <% end %>
  </p>
<br>


</div>
</p>
</div>
</div>
<br>
<br>
<div class="container-letsgo">
<%= link_to room_ecran1_path(@room) do %>
  <div id="ready" class="btn btn-julien02" style="opacity: 0; transition: all 1s ease">C'est parti !</div>
  <% end  %>
</div>

<div class="image-ampoule"></div>
<div class="image-puzzle"></div>
<div class="image-manette"></div>
<div class="image-wifi"></div>
<div class="image-pc"></div>
<div class="image-musique"></div>
<div class="image-lieu"></div>
<div class="image-among"></div>
<div class="image-blabla"></div>
<div class="image-tel"></div>
