<!DOCTYPE html>
<html>
  <head>
    <title>Ideall</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>

<% if user_signed_in? %>
      <%= link_to destroy_user_session_path, method: :delete, class: "nav-link" do %>
        <div class="btn-primary-home"><h4 class="picto">k</h4><p>Home</p></div>
      <% end %>
    <% end %>
    <%= render 'shared/flashes' %>

    <%= yield %>
  </body>
</html>
